.options button {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 800;
  color: rgb(66, 66, 216);
}
.options button:hover {
  background-color: rgb(66, 66, 216);
  color: #fff;
}
